.trip {
  height:420px;
  max-width: 100%
}
.row1 {
  display: flex;
  flex-direction: row;
  @media #{$brk-narrow} {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.row2 {
  display: flex;
  flex-direction: row;
  @media #{$brk-narrow} {
    display: block;
    width: 100%;
  }
}

.trip1 {
  background-image: url(../img/pic1.jpg);
  @extend %trip-container;
  flex: 2;
}
.trip2 {
  background-image: url(../img/pic3.jpg);
  @extend %trip-container;
  flex: 1;
}
.trip3 {
  background-image: url(../img/pic4.jpg);
  @extend %trip-container;
  flex: 1;
}
.trip4 {
  background-image: url(../img/pic5.jpg);
  @extend %trip-container;
  flex: 1;
}
.trip5 {
  background-image: url(../img/pic6.jpg);
@extend %trip-container;
flex: 1;
}
.trip6 {
  background-image: url(../img/pic7.jpg);
  @extend %trip-container;
  flex: 2;
}
