%trip-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  img {
    align-self: center;
    background-color: #666;
    border-radius: 100%;
    opacity: 0.5;
  }
}
